body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}
.first-background {
    background-color: #1F2937;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.header, .section-one {
    color: white;
    padding: 0px 125px 0px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 80px;
}
.big-text {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -15px;
}
.small-text {
    font-size: 18px;
    color: #E5E7EB;
}
.section-one {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 80px;
}
button.first-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: #3882F6;
    border-style: solid;
    width: 75px;
}
.information{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}
.second-img, .third-img, .fourth-img, .fifth-img {
    display: flex;
    border: 3px solid rgb(20, 149, 255);
    border-radius: 20px;
    width: 175px;
    height: 175px;
    margin-bottom: 8px;
}
.info {
    max-width: 175px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.text {
    color: rgb(92, 92, 92);
    text-align: center;
}